/* ----------- 5.Headers ---------------
--------------------------------------*/
/* Header Main */
.header {
  background-color: #e8ebec;
  position: relative;
}

.header a {
  color: #222;
}

.header a:hover, .header a:focus {
  color: #673AB7;
}

.header .header-dropdown .dropdown-menu {
  border-radius: 0;
  overflow: hidden;
  border: none;
  margin-top: 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.header .header-dropdown .dropdown-menu > li > a {
  padding: 0.45rem .7rem;
}

@media (min-width: 768px) {
  .header .header-dropdown .dropdown-menu > li > a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.header .header-dropdown .dropdown-menu > li > a:hover, .header .header-dropdown .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #00b16a;
}

.header .header-dropdown .dropdown-menu > li:last-child > a {
  border-bottom: none;
}

.header .header-dropdown.open .dropdown-menu, .header .header-dropdown:hover .dropdown-menu, .header .header-dropdown:focus .dropdown-menu {
  display: block;
}

/* Header Top */
.header-top {
  font-size: 0.85rem;
  font-weight: 500;
  border-bottom: 1px solid #d7dcde;
}

.header-top a {
  color: #666;
}

.header-top a:hover, .header-top a:focus {
  color: #673AB7;
}

.header-top .header-dropdown > a {
  display: inline-block;
  padding: 0.5rem 0.7rem;
  background-color: #c9d0d3;
  border: none;
}

@media (min-width: 768px) {
  .header-top .header-dropdown > a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.header-top .header-dropdown .dropdown-menu {
  padding: 0;
  min-width: 100%;
  font-size: 0.85rem;
  border: none;
}

.header-top .header-dropdown + .top-menu {
  margin-right: 1.5rem;
}

.header-top .header-dropdown + .top-links {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .header-top .header-dropdown + .top-links {
    margin-right: 1.5rem;
  }
}

.header-top .header-dropdown:nth-of-type(2n) > a {
  background-color: #dadfe0;
}

.header-top .header-dropdown.open > a, .header-top .header-dropdown:hover > a, .header-top .header-dropdown:focus > a {
  background-color: #00b16a;
  border-color: #00b16a;
  color: #fff;
}

.header-top .top-menu {
  font-size: 0;
}

@media (max-width: 767px) {
  .header-top .top-menu {
    display: none;
  }
}

.header-top .top-menu li {
  font-size: 0.85rem;
  display: inline-block;
}

.header-top .top-menu li a {
  display: inline-block;
  padding: 0.5rem 0;
  position: relative;
}

.header-top .top-menu li + li:before {
  content: '|';
  margin: 0 0.5rem;
  color: #b0babe;
}

.header-top .top-menu li.active a, .header-top .top-menu li:hover a, .header-top .top-menu li:focus a {
  color: #00b16a;
}

.header-top .top-text {
  display: none;
  margin: 0.5rem 0;
  color: #535535;
}

@media (min-width: 992px) {
  .header-top .top-text {
    display: block;
  }
  .header-top .top-text + .top-links {
    margin-left: 1rem;
  }
}

.header-top .top-links {
  margin: 0.5rem 0;
  font-size: 0;
}

.header-top .top-links a {
  color: #673AB7;
  display: inline-block;
  font-size: 0.85rem;
}

.header-top .top-links a:hover, .header-top .top-links a:focus {
  color: #E91E63;
}

.header-top .top-links a + a:before {
  content: '|';
  margin: 0 0.35rem;
  color: #b0babe;
}

.header-top .top-links.pull-right {
  margin-right: 1rem;
}

@media (min-width: 992px) {
  .header-top .top-links.pull-right {
    margin-right: 1.5rem;
  }
}

.header-top .social-icons {
  margin: 0;
  font-size: 0;
}

.header-top .social-icons .social-icon {
  display: inline-block;
  width: auto;
  min-width: 2.5rem;
  height: 2.4rem;
  font-size: 1rem;
  line-height: 2.4rem;
  text-align: center;
  color: #555;
  background-color: transparent;
  border: none;
  margin: 0 !important;
  border-radius: 0;
  box-shadow: none;
  transition: all 0.65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
}

.header-top .social-icons .social-icon:first-child {
}

.header-top .social-icons .social-icon:hover, .header-top .social-icons .social-icon:focus {
  background-color: #00b16a;
  color: #fff;
  border-color: #673AB7;
  box-shadow: none;
}

@media (min-width: 768px) {
  .header-top .social-icons + .top-links {
    margin-left: 20px;
  }
}

/* Site Logo */
.site-logo {
  display: block;
  float: left;
  margin: 2.9rem 0;
}

.site-logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-info-boxes {
  font-size: 0;
  float: right;
  margin-top: 2.8rem;
}

.cart-dropdown + .header-info-boxes {
  margin-right: 1rem;
}

@media (max-width: 991px) {
  .header-info-boxes {
    display: none;
  }
}

.header-info-boxes .header-info-box {
  display: inline-block;
  position: relative;
  padding-left: 3.1rem;
  font-size: 0.85rem;
  line-height: 1;
}

.header-info-boxes .header-info-box .header-info-icon {
  display: block;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0;
  width: 1.6rem;
  height: 2.8rem;
  border-radius: 0.5em/.25em;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1.4rem;
  color: #fff;
  text-align: center;
  background: #c6ced0;
  transition: all 0.65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
}

.header-info-boxes .header-info-box .header-info-icon i {
  position: relative;
  z-index: 2;
  font-size: 1.2rem;
  line-height: 2.8rem;
}

.header-info-boxes .header-info-box .header-info-icon:before, .header-info-boxes .header-info-box .header-info-icon:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
  top: 0;
}

.header-info-boxes .header-info-box .header-info-icon:before {
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  left: 0;
}

.header-info-boxes .header-info-box .header-info-icon:after {
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
  right: 0;
}

.header-info-boxes .header-info-box .header-info-icon.custom {
  background-color: #00b16a;
  color: #fff;
}

.header-info-boxes .header-info-box .header-info-icon.custom2 {
  background-color: #E91E63;
  color: #fff;
}

.header-info-boxes .header-info-box .header-info-icon.dark {
  background-color: #181818;
  color: #fff;
}

.header-info-boxes .header-info-box .info-box-title {
  font-size: 0.95rem;
  margin-bottom: 0.4rem;
  font-weight: 700;
}

.header-info-boxes .header-info-box p {
  margin-bottom: 0;
}

.header-info-boxes .header-info-box + .header-info-box {
  margin-left: 3rem;
}

/* Header Bottom */
.header-bottom {
  background-color: #d7dcde;
}

/* Header Search Form */
.header-search-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
  opacity: 0;
  visibility: hidden;
}

.header-search-form.open {
  visibility: visible;
  opacity: 1;
}

.header-search-form form {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .header-search-form form {
    max-width: 920px;
  }
}

.header-search-form .form-control {
  border-color: transparent;
  background-color: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.4);
  font-size: 2rem;
  height: 70px;
  color: #00b16a;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .header-search-form .form-control {
    font-size: 2.5rem;
    height: 85px;
  }
}

@media (min-width: 992px) {
  .header-search-form .form-control {
    font-size: 3rem;
    max-width: 920px;
    height: 102px;
  }
}

.header-search-form .form-control::-webkit-input-placeholder {
  color: #fff;
}

.header-search-form .form-control::-moz-placeholder {
  color: #fff;
}

.header-search-form .form-control:-ms-input-placeholder {
  color: #fff;
}

.header-search-form .form-control::placeholder {
  color: #fff;
}

.header-search-form .header-search-toggle {
  position: relative;
  position: fixed;
  z-index: 9999;
  right: 3rem;
  top: 3rem;
  color: #b7b7b7;
  transition: all 0.65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
  font-size: 1.5rem;
  line-height: 1;
  border: none;
  background-color: transparent;
}

.header-search-form .header-search-toggle:hover, .header-search-form .header-search-toggle:focus {
  color: #fff;
  background-color: transparent;
}

/* Cart Dropdown */
.dropdown.cart-dropdown {
  float: right;
  /* Dark Cart Icon */
}

@media (max-width: 767px) {
  .dropdown.cart-dropdown {
    position: static;
  }
}

.dropdown.cart-dropdown > a {
  position: relative;
  display: inline-block;
  font-size: 2.25rem;
  line-height: 1;
  color: #00b16a;
  padding-top: 2.85rem;
  padding-bottom: 2.85rem;
  padding-left: 2rem;
}

@media (min-width: 992px) {
  .dropdown.cart-dropdown > a {
    padding-top: 2.7rem;
    padding-bottom: 2.9rem;
  }
}

.dropdown.cart-dropdown > a > span {
  position: relative;
  display: inline-block;
}

.dropdown.cart-dropdown > a .dcart-total-count {
  display: inline-block;
  transition: all 0.65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
  min-width: 1.1rem;
  position: absolute;
  left: 50%;
  bottom: 0.75rem;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #fff;
  color: #673AB7;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.1rem;
}

.dropdown.cart-dropdown.open > a, .dropdown.cart-dropdown:hover > a, .dropdown.cart-dropdown:focus > a {
  color: #512e90;
}

.dropdown.cart-dropdown.dark > a {
  color: #222;
}

.dropdown.cart-dropdown.dark > a .dcart-total-count {
  background-color: #fff;
  color: #444;
}

.dropdown.cart-dropdown.dark.open > a, .dropdown.cart-dropdown.dark:hover > a, .dropdown.cart-dropdown.dark:focus > a {
  color: #673AB7;
}

.dropdown.cart-dropdown .dropdown-menu {
  left: 0;
  right: 0;
  padding: 1rem 1.1rem 1.1rem;
  width: auto;
  border-top: 0.2rem solid #673AB7;
}

@media (min-width: 768px) {
  .dropdown.cart-dropdown .dropdown-menu {
    left: auto;
    right: 0;
    width: 340px;
  }
}

.dropdown.cart-dropdown .dropdown-menu > p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.dropdown.cart-dropdown .dropdown-menu > p span {
  font-weight: 600;
  font-size: 0.95rem;
}

.dropdown.cart-dropdown .dcart-products {
  padding: 1.5rem 0 0.1rem;
  border-top: 1px solid #e8ebec;
  border-bottom: 1px solid #e8ebec;
  margin-bottom: 1.5rem;
}

.dropdown.cart-dropdown .product {
  position: relative;
  padding: 0;
  margin-bottom: 1.1rem;
  border: none;
  text-align: left;
}

.dropdown.cart-dropdown .product:after {
  content: '';
  display: table;
  clear: both;
}

.dropdown.cart-dropdown .product figure {
  float: left;
}

.dropdown.cart-dropdown .product figure img {
  width: 80px !important;
  height: auto !important;
}

.dropdown.cart-dropdown .product .product-meta {
  padding-left: 100px;
}

.dropdown.cart-dropdown .product .product-title {
  font-size: 0.9rem;
  max-width: 150px;
  margin-bottom: 0.2rem;
}

.dropdown.cart-dropdown .product .product-quantity {
  margin-bottom: 0;
  font-size: 0.85rem;
  color: #6a6a6a;
  font-weight: 500;
}

.dropdown.cart-dropdown .product .product-price-container {
  margin-bottom: 0;
  position: static;
  left: auto;
  bottom: auto;
  line-height: 1.1;
}

.dropdown.cart-dropdown .product .product-price-container .product-old-price,
.dropdown.cart-dropdown .product .product-price-container .product-price {
  font-size: 14px;
}

.dropdown.cart-dropdown .product .product-price-container .product-old-price + .product-price {
  margin-top: 4px;
}

.dropdown.cart-dropdown .product .delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.7rem;
  color: #777;
}

.dropdown.cart-dropdown .product .delete-btn:hover, .dropdown.cart-dropdown .product .delete-btn:focus {
  color: #fff;
}

.dropdown.cart-dropdown .product.last-child {
  margin-bottom: 0;
}

.dropdown.cart-dropdown .dcart-action-container:after {
  content: '';
  display: table;
  clear: both;
}

.dropdown.cart-dropdown .dcart-action-info {
  padding-top: 0;
  float: left;
  font-size: 0.9rem;
  font-weight: 600;
}

.dropdown.cart-dropdown .dcart-action-info p {
  margin-bottom: 0.1rem;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

.dropdown.cart-dropdown .dcart-action-info p span {
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  font-size: 0.95rem;
}

.dropdown.cart-dropdown .dcart-action-info p:last-child {
  margin-bottom: 0;
}

.dropdown.cart-dropdown .dcart-action-info p:last-child span {
  font-weight: 700;
  color: #f41d1d;
}

.dropdown.cart-dropdown .dcart-action {
  float: right;
  width: 110px;
  margin-top: -0.4rem;
}

.dropdown.cart-dropdown .dcart-action .btn {
  display: block;
  font-size: 0.8rem;
}

.dropdown.cart-dropdown .dcart-action .btn + .btn {
  margin-top: 0.25rem;
}

/* ----  DROPDOWN / MENU ANIMATIONS BY CLASS
Animations - add these clases to the parent element - Navbar Or dropdown
1.fade - add navbar "fade-dropdown" class
2.Left To Right - add navbar "ltr-dropdown" class
3.Right To Left - add navbar "rtl-dropdown" class
4.Top To Bottom - add navbar "ttb-dropdown" class
5.Bottom To Top  - add navbar "btt-dropdown" class
------ */
/* Animation properties via "animated-dropdown" class change duration of animations and etc.. */
.animated-dropdown .dropdown > .dropdown-menu {
  animation-fill-mode: both;
  animation-delay: 0s;
  animation-duration: 0.5s;
}

@keyframes fadeDropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Left to right */
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Right to left */
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*Top to bottom  */
@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Bottom to top */
@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* fade Animation */
.fade-dropdown .dropdown.open > .dropdown-menu,
.fade-dropdown .header-dropdown.dropdown:hover > .dropdown-menu,
.fade-dropdown .header-dropdown.dropdown:focus > .dropdown-menu {
  animation-name: fadeDropdown;
  animation-duration: 0.85s;
}

/* Left To Right animation */
.ltr-dropdown .dropdown.open > .dropdown-menu,
.ltr-dropdown .header-dropdown.dropdown:hover > .dropdown-menu,
.ltr-dropdown .header-dropdown.dropdown:focus > .dropdown-menu {
  animation-name: leftToRight;
}

/* Right To Left animation */
.rtl-dropdown .dropdown.open > .dropdown-menu,
.rtl-dropdown .header-dropdown.dropdown:hover > .dropdown-menu,
.rtl-dropdown .header-dropdown.dropdown:focus > .dropdown-menu {
  animation-name: rightToLeft;
}

/* Top To Bottom animation */
.ttb-dropdown .dropdown.open > .dropdown-menu,
.ttb-dropdown .header-dropdown.dropdown:hover > .dropdown-menu,
.ttb-dropdown .header-dropdown.dropdown:focus > .dropdown-menu {
  animation-name: topToBottom;
}

/* Bottom To Top animation */
.btt-dropdown .dropdown.open > .dropdown-menu,
.btt-dropdown .header-dropdown.dropdown:hover > .dropdown-menu,
.btt-dropdown .header-dropdown.dropdown:focus > .dropdown-menu {
  animation-name: bottomToTop;
}

@media (max-width: 767px) {
  /* Dsable Animation for mobile/collapsed menu*/
  .navbar-collapse .dropdown > .dropdown-menu,
  .navbar-collapse .dropdown.open > .dropdown-menu {
    animation: none !important;
  }
}

/* Menu Styles */
/* Navbar Nav - Menu */
@media (min-width: 768px) {
  #main-nav-container {
    position: relative;
  }
}

@media (max-width: 767px) {
  #main-nav-container {
    width: calc(100% + 30px);
  }
  #main-nav-container.max-height {
    max-height: 380px;
  }
}

#main-nav-container .container {
  padding: 0;
}

#main-nav-container .container .row {
  margin: 0;
}

@media (min-width: 768px) {
  #main-nav-container .container {
    width: 720px;
    padding: 0;
  }
  #main-nav-container .container [class*="col-"] {
    padding: 0;
  }
}

@media (min-width: 992px) {
  #main-nav-container .container {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  #main-nav-container .container {
    width: 1140px;
  }
}

#main-nav-container .container-fluid {
  padding: 0;
}

#main-nav-container .container-fluid .row {
  margin: 0;
}

@media (min-width: 768px) {
  #main-nav-container .container-fluid [class*="col-"] {
    padding: 0;
  }
}

/* Menu - Navbar Nav */
.navbar-nav {
  margin: 0 0 15px;
}

.navbar-nav a {
  color: #222;
}

.navbar-nav > li > a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.5;
}

.navbar-nav > li li a > span {
  position: relative;
}

@media (max-width: 767px) {
  .navbar-nav {
    background-color: #fff;
    margin-bottom: 0;
    padding: 0.4rem 0;
  }
  .navbar-nav > li.pull-right {
    float: none !important;
  }
  .navbar-nav > li .visible-inline-xs {
    margin-right: 0.5rem;
  }
  .navbar-nav > li > a {
    font-weight: 600;
  }
  .navbar-nav > li.open > a, .navbar-nav > li.open > a:hover, .navbar-nav > li.open > a:focus {
    color: #fff;
    background-color: #00b16a;
  }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #00b16a;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    padding: 0.25rem 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 0.6rem 1rem 0.6rem 1.5rem;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 1.5;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
  .navbar-nav .open .dropdown-menu li li a {
    padding: 0.45rem 1rem 0.45rem 2.5rem;
  }
  .navbar-nav .open .dropdown-menu li li li a {
    padding-left: 3.5rem;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
    /* Reverse Dropdown Menu - To Prevernt Overflow */
  }
  .navbar-nav > li .visible-inline-xs {
    display: none;
  }
  .navbar-nav > li + li {
    margin-left: 2px;
  }
  .navbar-nav > li.reverse .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-nav > li.reverse .dropdown-menu .dropdown-menu {
    left: auto;
    right: 100%;
  }
  .navbar-nav > li > a {
    position: relative;
    padding: 0.85rem 0.7rem 0.8rem;
    font-weight: 600;
    border-radius: 0;
  }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background: inherit;
    color: inherit;
  }
  .header-bottom .navbar-nav > li:first-child > a {
    padding-left: 0;
  }
  .navbar-nav > li.open > a, .navbar-nav > li.open > a:hover, .navbar-nav > li.open > a:focus, .navbar-nav > li.active > a, .navbar-nav > li.active > a:hover, .navbar-nav > li.active > a:focus {
    color: #00b16a;
    background-color: transparent;
  }
  .navbar-nav > li.megamenu-container {
    position: static;
  }
  .container-fluid .navbar-nav > li.megamenu-container .megamenu {
    right: 30px;
  }
  .navbar-nav > li .dropdown-menu {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  }
  .navbar-nav > li .dropdown-menu.megamenu {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  }
  .navbar-nav > li .dropdown-menu .dropdown-menu {
    top: -0.7rem;
    left: 100%;
  }
  .navbar-nav > li:first-child .dropdown-menu {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  }
  .navbar-nav > li:first-child .dropdown-menu:before {
    left: 1rem;
  }
}

@media (min-width: 992px) {
  .navbar-nav > li > a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.navbar-nav .angle {
  margin: 0.2rem 0 0 0.25rem;
  display: inline-block;
  font: normal normal normal 0.8rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

@media (max-width: 767px) {
  .navbar-nav .angle {
    float: right;
  }
}

.navbar-nav .angle:before {
  content: "\f107";
}

.navbar-nav .dropdown-menu {
  float: left;
  min-width: 200px;
  padding: 0.5rem 0 0.4rem;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
  list-style: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
  border-top: 0.2rem solid #00b16a;
}

@media (min-width: 992px) {
  .navbar-nav .dropdown-menu {
    min-width: 210px;
  }
}

.navbar-nav .dropdown-menu > li > a {
  color: #3e3e3e;
  padding: 0.5rem 1rem;
  font-weight: 600;
  white-space: normal;
}

.navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #00b16a;
}

.navbar-nav .dropdown-menu > li.open > a, .navbar-nav .dropdown-menu > li.open > a:hover, .navbar-nav .dropdown-menu > li.open > a:focus {
  color: #fff;
  background-color: #00b16a;
}

.navbar-nav .dropdown-menu.megamenu {
  background-position: bottom right !important;
  background-repeat: no-repeat !important;
}

@media (max-width: 767px) {
  .navbar-nav .dropdown-menu.megamenu [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-nav .dropdown-menu.megamenu [class*="col-"]:not(:last-child) {
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #f1f1f1;
  }
}

.navbar-nav .dropdown-menu.megamenu a {
  position: relative;
  display: block;
  padding: 0.4rem 1rem;
}

@media (max-width: 767px) {
  .navbar-nav .dropdown-menu.megamenu a {
    padding-left: 1.5rem;
  }
}

.navbar-nav .dropdown-menu.megamenu a > span {
  position: relative;
}

.navbar-nav .dropdown-menu.megamenu a:hover, .navbar-nav .dropdown-menu.megamenu a:focus {
  color: #fff;
  background-color: #00b16a;
}

.navbar-nav .dropdown-menu .angle {
  float: right;
}

@media (min-width: 768px) {
  .navbar-nav .dropdown-menu .angle {
    margin-top: 0.15rem;
  }
}

@media (min-width: 768px) {
  .navbar-nav .dropdown-menu .angle:before {
    content: '\f105';
  }
}

/*Table Navbar Nav*/
@media (min-width: 768px) {
  .header-bottom .navbar-nav.navbar-nav-table {
    display: table;
    width: 100%;
    border-left: 1px solid #b9c2c5;
    border-right: 1px solid #b9c2c5;
  }
  .header-bottom .navbar-nav.navbar-nav-table > li {
    float: none !important;
    display: table-cell;
    text-align: center;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .header-bottom .navbar-nav.navbar-nav-table > li > a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .header-bottom .navbar-nav.navbar-nav-table > li > a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 768px) {
  .header-bottom .navbar-nav.navbar-nav-table > li + li {
    border-left: 1px solid #b9c2c5;
  }
}

.navbar-collapse {
  padding: 0;
}

/* Mobile Menu Toggle Button */
.navbar-toggle,
.menu-toggle,
.sidemenu-toggle {
  float: left;
  padding: 0.4rem 0.75rem;
  margin-top: 0.5rem;
  margin-right: 0;
  margin-bottom: 0.5rem;
  background-color: #00b16a;
  border: 1px solid #00b16a;
  border-radius: 0;
  font-size: 0;
  color: #fff;
  transition: all 0.65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
}

.navbar-toggle:after,
.menu-toggle:after,
.sidemenu-toggle:after {
  content: '';
  display: table;
  clear: both;
}

.navbar-toggle .toggle-text,
.navbar-toggle .toggle-wrapper,
.menu-toggle .toggle-text,
.menu-toggle .toggle-wrapper,
.sidemenu-toggle .toggle-text,
.sidemenu-toggle .toggle-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.navbar-toggle .toggle-text,
.menu-toggle .toggle-text,
.sidemenu-toggle .toggle-text {
  font-weight: 600;
  margin-right: 0.5rem;
  font-size: 1rem;
  letter-spacing: .05em;
}

.navbar-toggle .icon-bar,
.menu-toggle .icon-bar,
.sidemenu-toggle .icon-bar {
  display: block;
  width: 1.5rem;
  height: 2px;
  border-radius: 4px;
  background-color: #fff;
}

.navbar-toggle .icon-bar + .icon-bar,
.menu-toggle .icon-bar + .icon-bar,
.sidemenu-toggle .icon-bar + .icon-bar {
  margin-top: 0.3rem;
}

.navbar-toggle.dark,
.menu-toggle.dark,
.sidemenu-toggle.dark {
  background-color: #3e3e3e;
  border-color: #3e3e3e;
  color: #fff;
}

.navbar-toggle.dark .icon-bar,
.menu-toggle.dark .icon-bar,
.sidemenu-toggle.dark .icon-bar {
  background-color: #fff;
}

.navbar-toggle:hover,
.menu-toggle:hover,
.sidemenu-toggle:hover {
  color: #fff;
  background-color: #00b16a;
  border-color: #00b16a;
}

.navbar-toggle:hover .icon-bar,
.menu-toggle:hover .icon-bar,
.sidemenu-toggle:hover .icon-bar {
  background-color: #fff;
}

.navbar-toggle:not(.collapsed) {
  color: #fff;
  background-color: #00b16a;
  border-color: #00b16a;
}

.navbar-toggle:not(.collapsed) .icon-bar {
  background-color: #fff;
}

/* Header Version 2 */
.header.header2:after {
  content: '';
  display: table;
  clear: both;
}

@media (min-width: 768px) {
  .header.header2 .navbar-collapse {
    float: right;
    position: static !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header.header2 .navbar-collapse {
    display: block;
    float: left;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header.header2 .dropdown.cart-dropdown + .navbar-toggle {
    margin-right: 1rem;
  }
}

@media (max-width: 480px) {
  .header.header2 .dropdown.cart-dropdown + .navbar-toggle {
    margin-right: 0.5rem;
  }
}

@media (max-width: 360px) {
  .header.header2 .dropdown.cart-dropdown + .navbar-toggle {
    margin-right: 0.3rem;
  }
}

@media (max-width: 767px) {
  .header.header2 .dropdown.cart-dropdown > a {
    padding-left: 1rem;
  }
}

@media (min-width: 992px) {
  .header.header2 .dropdown.cart-dropdown > a {
    padding-left: 1.5rem;
  }
}

@media (min-width: 768px) {
  .header.header2 .navbar-nav > li {
    padding-bottom: 0.75rem;
  }
}

@media (min-width: 992px) {
  .header.header2 .navbar-nav > li {
    padding-top: 2.7rem;
    padding-bottom: 2.7rem;
  }
}

@media (min-width: 768px) {
  .header.header2 .navbar-nav > li > a {
    border-radius: 24px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
  }
  .header.header2 .navbar-nav > li > a:before {
    display: none;
  }
}

.header.header2 .navbar-nav > li.open > a, .header.header2 .navbar-nav > li.open > a:hover, .header.header2 .navbar-nav > li.open > a:focus, .header.header2 .navbar-nav > li.active > a, .header.header2 .navbar-nav > li.active > a:hover, .header.header2 .navbar-nav > li.active > a:focus {
  color: #fff;
  background: #00b16a;
}

@media (min-width: 768px) {
  .header.header2 .navbar-nav .dropdown-menu.megamenu {
    left: 15px;
  }
}

@media (min-width: 1200px) {
  .header.header2 .navbar-nav .dropdown-menu.megamenu {
    left: 30px;
    right: 30px;
  }
}

.header.header2 .navbar-toggle {
  margin-top: 2.9rem;
  margin-bottom: 2.9rem;
  float: right;
  padding: 0.25rem 0.7rem;
}

@media (max-width: 480px) {
  .header.header2 .navbar-toggle {
    padding: 0.55rem 0.5rem;
  }
}

@media (max-width: 480px) {
  .header.header2 .navbar-toggle .toggle-text {
    display: none;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .header.header2.straight-sm .navbar-collapse {
    float: right !important;
    width: auto;
  }
  .header.header2.straight-sm .navbar-collapse .navbar-nav > li {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
  }
}

/* No bg absolute position over elements */
.header.header2.transparent {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.header.header2.transparent.half {
  background-color: rgba(255, 255, 255, 0.3);
}

.header.header2.transparent.light {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header.header2.transparent.light.half {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .header.header2.transparent.light .navbar-nav > li > a {
    color: #fff;
  }
}

@media (min-width: 768px) {
  .header.header2.transparent.light .navbar-nav > li.open > a, .header.header2.transparent.light .navbar-nav > li.open > a:hover, .header.header2.transparent.light .navbar-nav > li.open > a:focus, .header.header2.transparent.light .navbar-nav > li.active > a, .header.header2.transparent.light .navbar-nav > li.active > a:hover, .header.header2.transparent.light .navbar-nav > li.active > a:focus {
    background: #fff;
    color: #00b16a;
  }
}

/* Header Version 3 */
.header.header3 .header-inner .container,
.header.header3 .header-inner .container-fluid {
  position: relative;
  display: table;
  table-layout: fixed;
}

@media (max-width: 767px) {
  .header.header3 .header-inner .container,
  .header.header3 .header-inner .container-fluid {
    width: 100%;
  }
}

.header.header3 .header-inner .container-fluid {
  width: 100%;
}

@media (max-width: 767px) {
  .header.header3 .header-inner .container {
    width: 100%;
  }
}

.header.header3 .header-inner .social-icons {
  margin: 0;
}

.header.header3 .header-inner .social-icons .social-icon {
  font-size: 0.85rem;
  margin: 0 0.1rem;
  width: auto;
  min-width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
}

.header.header3 .header-inner .social-icons .social-icon:hover, .header.header3 .header-inner .social-icons .social-icon:focus {
  color: #fff;
  background-color: #00b16a;
}

.header.header3 .header-inner .social-icons.pull-left .social-icon:first-child {
  margin-left: 0;
}

.header.header3 .header-inner .social-icons.pull-right .social-icon:last-child {
  margin-right: 0;
}

.header.header3 .header-left,
.header.header3 .header-center,
.header.header3 .header-right {
  display: table-cell;
  vertical-align: middle;
  width: 33.3%;
}

.header.header3 .header-left:after,
.header.header3 .header-center:after,
.header.header3 .header-right:after {
  content: '';
  display: table;
  clear: both;
}

.header.header3 .header-center {
  text-align: center;
}

@media (max-width: 767px) {
  .header.header3 .header-center {
    width: 100%;
    padding: 2rem 0;
  }
}

.header.header3 .site-logo {
  display: inline-block;
  float: none;
  line-height: 0;
  margin: 0;
}

.header.header3 .header-left .cart-dropdown {
  float: left;
}

.header.header3 .header-left .cart-dropdown > a {
  padding-left: 0;
  padding-right: 1.5rem;
}

.header.header3 .header-left .cart-dropdown .dropdown-menu {
  right: auto;
  left: 0;
}

@media (max-width: 767px) {
  .header.header3 .header-left,
  .header.header3 .header-right {
    width: 1%;
  }
}

@media (max-width: 767px) {
  .header.header3 .header-left .cart-dropdown,
  .header.header3 .header-right .cart-dropdown {
    position: absolute;
    top: 100%;
    margin-top: 0.2rem;
    right: 1.5rem;
  }
  .header.header3 .header-left .cart-dropdown > a,
  .header.header3 .header-right .cart-dropdown > a {
    padding: 0.5rem 0 0;
    color: #512e90;
  }
  .header.header3 .header-left .cart-dropdown.open > a, .header.header3 .header-left .cart-dropdown:hover > a, .header.header3 .header-left .cart-dropdown:focus > a,
  .header.header3 .header-right .cart-dropdown.open > a,
  .header.header3 .header-right .cart-dropdown:hover > a,
  .header.header3 .header-right .cart-dropdown:focus > a {
    color: #402471;
  }
  .header.header3 .header-left .cart-dropdown .dropdown-menu,
  .header.header3 .header-right .cart-dropdown .dropdown-menu {
    left: auto;
    right: 0;
    width: 300px;
  }
}

@media (max-width: 360px) {
  .header.header3 .header-left .cart-dropdown .dropdown-menu,
  .header.header3 .header-right .cart-dropdown .dropdown-menu {
    width: 260px;
  }
}

.header.header3 .navbar-nav:not(.navbar-nav-table) {
  font-size: 0;
}

@media (min-width: 768px) {
  .header.header3 .navbar-nav:not(.navbar-nav-table) {
    text-align: center;
  }
}

.header.header3 .navbar-nav:not(.navbar-nav-table) li {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .header.header3 .navbar-nav:not(.navbar-nav-table) > li {
    float: none;
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .header.header3 .navbar-nav:not(.navbar-nav-table) > li:first-child > a {
    padding-left: 0.7rem;
  }
}

@media (min-width: 992px) {
  .header.header3 .navbar-nav:not(.navbar-nav-table) > li:first-child > a {
    padding-left: 1rem;
  }
}

/* Header Version 4 */
@media (min-width: 992px) {
  body.side-menu-body {
    padding-left: 280px;
  }
  body.side-menu-body.reverse {
    padding-left: 0;
    padding-right: 280px;
  }
}

@media (min-width: 1200px) {
  body.side-menu-body {
    padding-left: 300px;
  }
  body.side-menu-body.reverse {
    padding-left: 0;
    padding-right: 300px;
  }
}

.header.header4 {
  position: relative;
  padding: 0 15px;
  background-color: #e8ebec;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  .header.header4 {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    padding: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
  }
  .reverse .header.header4 {
    left: auto;
    right: 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 1200px) {
  .header.header4 {
    width: 300px;
  }
}

.header.header4 .header-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

.header.header4 .header-top {
  float: left;
  border-bottom: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  .header.header4 .header-top {
    float: none;
    padding: 0 20px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .header.header4 .header-top {
    padding: 0 35px;
  }
}

.header.header4 .sidemenu-toggle {
  float: right;
  margin: 2.7rem 0;
}

@media (min-width: 992px) {
  .header.header4 .sidemenu-toggle {
    display: none;
  }
}

.header.header4 .site-logo {
  float: none;
}

@media (min-width: 992px) {
  .header.header4 .site-logo {
    margin: 45px 0 25px;
  }
}

.header.header4 .header-inside {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  padding: 0 20px 0 15px;
  display: none;
  background-color: rgba(255, 255, 255, 0.96);
}

@media (min-width: 992px) {
  .header.header4 .header-inside {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    padding: 0 25px 0 20px;
    height: calc(100vh - 190px);
    display: block;
    background-color: transparent;
  }
  .header.header4 .header-inside .sidemenu-toggle {
    display: none;
  }
  .header.header4 .header-inside.full {
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  .header.header4 .header-inside {
    padding: 0 35px;
  }
}

.header.header4 .header-inside .sidemenu-toggle {
  float: none;
  margin: 20px 0 10px;
}

.header.header4 .header-inside .sidemenu-toggle .toggle-text {
  margin-right: 4px;
}

.header.header4 .header-inside .sidemenu-toggle i {
  font-size: 13px;
  vertical-align: middle;
}

.header.header4 .header-inside.open {
  display: block;
}

.header.header4 .header-inside-wrapper {
  padding-top: 10px;
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  .header.header4 .header-inside-wrapper {
    padding-bottom: 10px;
  }
}

.header.header4 .header-inside-wrapper:before {
  content: '';
  display: table;
  clear: both;
}

.header.header4 .header-footer {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 992px) {
  .header.header4 .header-footer {
    display: block;
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .header.header4 .header-footer {
    padding: 0 35px 30px;
  }
}

.header.header4 .header-footer .social-icons {
  margin: 0 -0.1rem;
}

.header.header4 .header-footer .social-icons .social-icon {
  width: 1.8rem;
  line-height: 1.8rem;
  height: 1.8rem;
  font-size: 0.85rem;
  margin: 0 0.1rem;
  border-radius: 50%;
  background-color: #d2d8da;
}

.header.header4 .header-footer .social-icons .social-icon:hover, .header.header4 .header-footer .social-icons .social-icon:focus {
  background-color: #E91E63;
}

.header.header4.white {
  background-color: #fff;
}

.header.header4.dark {
  background-color: #181818;
}

@media (min-width: 992px) {
  .header.header4.dark .header-top:not(.custom) {
    background-color: #111111;
    border-color: #111111;
  }
}

@media (max-width: 991px) {
  .header.header4.dark .header-inside {
    background-color: rgba(0, 0, 0, 0.88);
  }
}

.header.header4.dark .header-footer .social-icons .social-icon {
  color: #b7b7b7;
  background-color: #272727;
}

.header.header4.dark .header-footer .social-icons .social-icon:hover, .header.header4.dark .header-footer .social-icons .social-icon:focus {
  color: #fff;
  background-color: #E91E63;
}

/* Side Menu  - Metis menu */
.side-menu li a {
  position: relative;
  display: block;
  color: #212121;
  padding: 0.2rem 0;
  font-size: 0.95rem;
  font-weight: 600;
}

.side-menu li a > span {
  position: relative;
}

.side-menu li.active > a,
.side-menu li.active > a:hover,
.side-menu li.active > a:focus, .side-menu li:hover > a,
.side-menu li:hover > a:hover,
.side-menu li:hover > a:focus, .side-menu li:focus > a,
.side-menu li:focus > a:hover,
.side-menu li:focus > a:focus {
  color: #00b16a;
}

.side-menu li ul {
  padding-left: 13px;
}

.side-menu li ul li:first-child {
  padding-top: 5px;
}

.side-menu li ul li:last-child {
  padding-bottom: 9px;
}

.side-menu > li > a {
  font-weight: 600;
  padding: 6px 0;
}

.side-menu .collapse {
  display: none;
}

.side-menu .collapse.in {
  display: block;
}

.side-menu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height, visibility;
}

.side-menu .arrow {
  float: right;
  line-height: 1.42857;
}

*[dir="rtl"] .side-menu .arrow {
  float: left;
}

.side-menu .fa.arrow:before {
  content: "\f105";
}

.side-menu .active > a > .fa.arrow:before {
  content: "\f107";
}

/*Side Menu - Dark */
.header.dark .side-menu li a {
  color: #b7b7b7;
}

.header.dark .side-menu li.active > a,
.header.dark .side-menu li.active > a:hover,
.header.dark .side-menu li.active > a:focus, .header.dark .side-menu li:hover > a,
.header.dark .side-menu li:hover > a:hover,
.header.dark .side-menu li:hover > a:focus, .header.dark .side-menu li:focus > a,
.header.dark .side-menu li:focus > a:hover,
.header.dark .side-menu li:focus > a:focus {
  color: #673AB7;
}

/*Header Color Variants */
.header.white {
  background-color: #fff;
}

/* Header Top Gray*/
.header-top.white {
  background-color: #fff;
  border-bottom: none;
}

/* Header Top - Custom*/
.header-top.custom {
  background-color: #673AB7;
  border-bottom: none;
}

.header-top.custom .header-dropdown > a {
  color: #f1f1f1;
  background-color: #512e90;
  border-color: #5c34a4;
}

.header-top.custom .header-dropdown:nth-of-type(2n) > a {
  background-color: #E91E63;
}

.header-top.custom .header-dropdown.open > a, .header-top.custom .header-dropdown:hover > a, .header-top.custom .header-dropdown:focus > a {
  color: #fff;
  background-color: #5c34a4;
  border-color: #6338af;
}

.header-top.custom .top-menu li a {
  color: #f1f1f1;
}

.header-top.custom .top-menu li a:before {
  background-color: #8e69cf;
}

.header-top.custom .top-menu li + li:before {
  color: #b7b7b7;
}

.header-top.custom .top-menu li.active a, .header-top.custom .top-menu li:hover a, .header-top.custom .top-menu li:focus a {
  color: #9f80d7;
}

.header-top.custom .top-text {
  color: #f1f1f1;
}

.header-top.custom .top-links a {
  color: #eee;
}

.header-top.custom .top-links a:hover, .header-top.custom .top-links a:focus {
  color: #9f80d7;
}

.header-top.custom .top-links a + a:before {
  color: #b7b7b7;
}

.header-top.custom .social-icons .social-icon {
  color: #fff;
  border-color: #764ac6;
}

.header-top.custom .social-icons .social-icon:hover, .header-top.custom .social-icons .social-icon:focus {
  background-color: #5c34a4;
  border-color: #5c34a4;
}

/* Header Top Dark */
.header-top.dark {
  background-color: #4a4a4a;
  border-bottom: none;
}

.header-top.dark .header-dropdown > a {
  color: #f1f1f1;
  background-color: #00b16a;
}

.header-top.dark .header-dropdown:nth-of-type(2n) > a {
  background-color: #00b16a;
}

.header-top.dark .header-dropdown.open > a, .header-top.dark .header-dropdown:hover > a, .header-top.dark .header-dropdown:focus > a {
  color: #fff;
  background-color: #00b16a;
  border-color: #6338af;
}

.header-top.dark .top-menu li a {
  color: #f1f1f1;
}

.header-top.dark .top-menu li.active a, .header-top.dark .top-menu li:hover a, .header-top.dark .top-menu li:focus a {
  color: #00b16a;
}

.header-top.dark .top-text {
  color: #eee;
}

.header-top.dark .top-links a {
  color: #eee;
}

.header-top.dark .top-links a:hover, .header-top.dark .top-links a:focus {
  color: #00b16a;
}

.header-top.dark .top-links a + a:before {
  color: #eaeaea;
}

.header-top.dark .social-icons .social-icon {
  color: #fff;
  border-color: #4b4b4b;
}

.header-top.dark .social-icons .social-icon:hover, .header-top.dark .social-icons .social-icon:focus {
  border-color: #673AB7;
}

/* Header Bottom - Custom */
.header-bottom.custom {
  background-color: #00b16a;
}

.header-bottom.custom .navbar-toggle {
  background-color: #E91E63;
  border-color: #E91E63;
}

.header-bottom.custom .navbar-toggle:hover, .header-bottom.custom .navbar-toggle:focus {
  background-color: #00b16a;
  border-color: #00b16a;
}

@media (min-width: 768px) {
  .header-bottom.custom .navbar-nav > li > a {
    color: #fff;
  }
  .header-bottom.custom .navbar-nav > li.open > a, .header-bottom.custom .navbar-nav > li.open > a:hover, .header-bottom.custom .navbar-nav > li.open > a:focus, .header-bottom.custom .navbar-nav > li.active > a, .header-bottom.custom .navbar-nav > li.active > a:hover, .header-bottom.custom .navbar-nav > li.active > a:focus {
    color: #ab90dc;
  }
}

@media (min-width: 768px) {
  .header-bottom.custom .navbar-nav.navbar-nav-table {
    border-left-color: #512e90;
    border-right-color: #512e90;
  }
  .header-bottom.custom .navbar-nav.navbar-nav-table > li + li {
    border-left-color: #512e90;
  }
}

/* Header Bottom - Dark */
.header-bottom.dark {
  background-color: #4a4a4a;
}

@media (min-width: 768px) {
  .header-bottom.dark .navbar-nav > li > a {
    color: #fff;
  }
  .header-bottom.dark .navbar-nav > li.open > a, .header-bottom.dark .navbar-nav > li.open > a:hover, .header-bottom.dark .navbar-nav > li.open > a:focus, .header-bottom.dark .navbar-nav > li.active > a, .header-bottom.dark .navbar-nav > li.active > a:hover, .header-bottom.dark .navbar-nav > li.active > a:focus {
    color: #00b16a;
  }
}

@media (min-width: 768px) {
  .header-bottom.dark .navbar-nav.navbar-nav-table {
    border-left-color: #373737;
    border-right-color: #373737;
  }
  .header-bottom.dark .navbar-nav.navbar-nav-table > li + li {
    border-left-color: #373737;
  }
}

/* Sticky Header */
@keyframes fixedHeader {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 992px) {
  .header.sticky-header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1040;
    animation-name: fixedHeader;
    animation-duration: .6s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  .header.sticky-header.fixed .header-top {
    display: none;
  }
  .header.sticky-header.fixed .header-inner {
    display: none;
  }
  .header.sticky-header.fixed .header-bottom .navbar-nav > li > a .tip {
    top: -3px;
  }
  .boxed .header.sticky-header.fixed,
  .boxed-long .header.sticky-header.fixed {
    left: auto;
    right: auto;
  }
}

/* Header 2*/
@media (min-width: 992px) {
  .header2.sticky-header.fixed .header-inner {
    display: block;
  }
  .header2.sticky-header.fixed .site-logo {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .header2.sticky-header.fixed .navbar-nav > li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header2.sticky-header.fixed .navbar-nav > li.cart-dropdown {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .header2.sticky-header.fixed .dropdown.cart-dropdown > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header2.sticky-header.fixed.transparent {
    background-color: #fff;
  }
  .header2.sticky-header.fixed.transparent.light, .header2.sticky-header.fixed.transparent.dark {
    background-color: #1c1c1c;
  }
  .header2.sticky-header.fixed.transparent.custom {
    background-color: #00b16a;
  }
  .header2.sticky-header.fixed.header-boxed {
    left: auto;
    right: auto;
    top: 20px;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.1), -2px -3px 6px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .header2.sticky-header.fixed.header-boxed {
    width: 940px;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .header2.sticky-header.fixed.header-boxed {
    width: 1140px;
  }
}

/* Fix For jump */
@media (min-width: 992px) {
  .transparent-sticky-header .sticky-wrapper {
    height: 0 !important;
  }
}


/* Vue Styles */
#desktop-header-contact-link, #desktop-header-call-us-hours{
  color:#fff;
}
