/* ----------- 17.FaQS Page --------------
--------------------------------------*/
.sidebar.faqs-sidebar {
  margin-bottom: 20px;
}
#pizza-pop{
  color:yellow;
}
.sidebar.faqs-sidebar .widget:last-child {
  margin-bottom: 0;
}

.sidebar.faqs-sidebar .widget .faqs-cat-list {
  counter-reset: count-faqs;
}

.sidebar.faqs-sidebar .widget .faqs-cat-list li {
  counter-increment: count-faqs;
  padding: 0.6rem 1rem;
  background-color: #f8f8fa;
  margin-bottom: 0.5rem;
}

.sidebar.faqs-sidebar .widget .faqs-cat-list li:before {
  position: relative;
  font-weight: 600;
  content: counter(count-faqs);
  font-size: 1.5rem;
  line-height: 1;
  color: #00b16a;
  margin-right: 0.5rem;
  vertical-align: middle;
  top: -0.1rem;
}

.sidebar.faqs-sidebar .widget .faqs-cat-list li a {
  color: #323232;
  vertical-align: middle;
}

.sidebar.faqs-sidebar .widget .faqs-cat-list li a:hover, .sidebar.faqs-sidebar .widget .faqs-cat-list li a:focus {
  color: #00b16a;
  font-weight: bold;
}
