/* ----------- 2.Typography -----------
--------------------------------------*/
/* Elements Typography */
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 1;
  color: #212121;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h1 small, .h1 small,
h2 small, .h2 small,
h3 small, .h3 small,
h4 small, .h4 small,
h5 small, .h5 small,
h6 small, .h6 small {
  color: inherit;
}

h1,
.h1 {
  font-size: 3.2rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h3,
.h3 {
  font-size: 2.1rem;
}

h4,
.h4 {
  font-size: 1.8rem;
  margin-bottom: 1em;
}

h5,
.h5 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

h6,
.h6 {
  font-size: 1rem;
  margin-bottom: 1em;
}

a {
  color: #4a4a4a;
  transition: color 0.4s;
}

a:hover, a:focus {
  color: #00b16a;
  font-weight: bold;
  text-decoration: none;
}

.bg-custom2 a {
  color: #00b16a;
}

.bg-custom2 a:hover, .bg-custom2 a:focus {
  color: #5c34a4;
}

.text-custom {
  color: #00b16a;
}

.text-custom2 {
  color: #E91E63;
}

.text-white {
  color: #fff !important;
}

.text-white a {
  color: inherit !important;
}

.text-white a:hover, .text-white a:focus {
  color: #E91E63 !important;
}

.bg-custom2 .text-white a:hover, .bg-custom2 .text-white a:focus {
  color: #673AB7 !important;
}

.text-muted {
  color: #777 !important;
}

.text-light {
  font-weight: 300 !important;
}

.text-normal {
  font-weight: 400 !important;
}

.text-spaced {
  letter-spacing: 0.05em;
}

.text-lineth {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.text-shadow {
  text-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.35);
}

blockquote {
  position: relative;
  padding: 0;
  margin: 0 0 1.5rem;
  font-size: 1rem;
  line-height: 1.6;
  background-color: transparent;
  font-style: italic;
  border: none;
  border-radius: 0;
}

@media (min-width: 768px) {
  blockquote {
    font-size: 1.1rem;
  }
}

blockquote:before {
  font-family: 'FontAwesome';
  content: "\f10d";
  position: absolute;
  left: -0.5rem;
  top: -1rem;
  color: #ccd3d5;
  z-index: 0;
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  blockquote:before {
    font-size: 2.8rem;
    top: -1.4rem;
  }
}

@media (min-width: 992px) {
  blockquote:before {
    font-size: 3.2rem;
    top: -1.8rem;
  }
}

blockquote p {
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}

blockquote cite {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-style: italic;
  color: #673AB7;
}

blockquote.blockquote-reverse {
  border: none;
  padding: 0;
}

blockquote.blockquote-reverse:before {
  content: "\f10e";
  left: auto;
  right: -0.5rem;
}

p {
  margin-bottom: 1.5rem;
}

.highlight {
  background-color: #181818;
  color: #fff;
  padding: 0 4px;
}

.highlight.rounded {
  border-radius: 5px;
}

.highlight.gray {
  color: #323232;
  background-color: #d7d4d4;
}

.highlight.darkgray {
  color: #323232;
  background-color: #cacaca;
}

.highlight.custom {
  background-color: #673AB7;
}

.highlight.custom2 {
  background-color: #E91E63;
}

.dropcap::first-letter {
  float: left;
  font-size: 3rem;
  font-weight: 700;
  padding: 0 0.2em;
  margin-right: 0.35em;
  margin-top: 0.15em;
  line-height: 1.3;
  color: #fff;
  background-color: #181818;
}

.dropcap.gray::first-letter {
  color: #323232;
  background-color: #cacaca;
}

.dropcap.custom::first-letter {
  background-color: #673AB7;
}

.dropcap.custom2::first-letter {
  color: #fff;
  background-color: #E91E63;
}

.fa-ul {
  margin-left: 0;
  margin-bottom: 1.5rem;
}

.fa-ul li {
  margin-bottom: 0.75rem;
}

.fa-ul li .fa-li {
  position: relative;
  left: 0;
  width: auto;
  top: auto;
  bottom: auto;
  margin-right: 0.75rem;
}

.lead {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .lead {
    font-size: 1.5rem;
  }
}

.lead.max-width {
  max-width: 80%;
}

.lead.max-width.text-center {
  margin-left: auto;
  margin-right: auto;
}

.lead.max-width-sm {
  max-width: 70%;
}

.lead.max-width-sm.text-center {
  margin-left: auto;
  margin-right: auto;
}

.lead.smaller {
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .lead.smaller {
    font-size: 1.25rem;
  }
}

.morphext > .animated {
  display: inline-block;
}




//Vue Id Styles
#footer-call-us-hours, #footer-location-city, {
  font-weight: normal;
}
#footer-call-us-number, #footer-email-address, #footer-chat-trigger, a{
    color:#00b16a;
}
#footer-call-us-number:hover{
  font-weight: bolder;
  color:#19b878;
}
#footer-email-address:hover{
  font-weight: bolder;
  color:#19b878;
}
#footer-chat-trigger:hover{
  font-weight: bolder;
  color:#19b878;
}
