/* ----------- 6.Homepages -------------
--------------------------------------*/
/* Homepages - Index */
.slider-container {
  background-color: #ccd3d5;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .slider-container {
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 992px) {
  .slider-container {
    height: 600px;
    margin-bottom: 4rem;
  }
}

.slider-container.fullheight {
  height: 100vh;
}

.slider-container .tp-caption strong {
  font-weight: 700 !important;
}

/* Homepages - Index3*/
.slider-container .hesperiden .tp-thumb.selected .tp-thumb-image {
  box-shadow: inset 0 0 0 2px #E91E63;
}

.services-section-edge {
  padding-bottom: 130px;
  position: relative;
}

.services-section-edge::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='150' width='2800' fill='rgb(215,220,222)' fill-opacity='1'%3E%3Cpolygon points='0,150 2800,150 0,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 150px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

.about-section-edge {
  padding-bottom: 140px;
  position: relative;
}

.about-section-edge::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='150' width='2800' fill='rgb(232,235,236)' fill-opacity='1'%3E%3Cpolygon points='0,150 2800,150 2800,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 150px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

.portfolio-section-edge {
  padding-bottom: 180px;
  position: relative;
}

.portfolio-section-edge::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='150' width='2800' fill='rgb(215,220,222)' fill-opacity='1'%3E%3Cpolygon points='0,150 2800,150 0,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 150px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

.testimonials-section-edge {
  padding-bottom: 180px;
  position: relative;
}

.testimonials-section-edge::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='150' width='2800' fill='rgb(232,235,236)' fill-opacity='1'%3E%3Cpolygon points='0,150 2800,150 2800,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 150px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

.news-section-edge {
  padding-bottom: 180px;
  position: relative;
}

.news-section-edge::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='150' width='2800' fill='rgb(24,24,24)' fill-opacity='1'%3E%3Cpolygon points='0,150 2800,150 2800,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 150px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

.footer.footer-edge > .container,
.footer.footer-edge > .container-fluid {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

/* Homepages - Index5 */
#particles-js {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

/* Homepages - Index8 */
.swiper-container.portfolio-fullwidth-carousel {
  margin: 0;
}

/* Homepages - Index9 */
@media (min-width: 1360px) {
  .img-margin {
    margin-bottom: 110px !important;
  }
}

@media (min-width: 1360px) {
  .img-tablet {
    margin-top: -3rem;
  }
}

/* Homepages - Index Shop */
.info-boxes-container {
  width: 100%;
  background-color: #dde1e3;
  margin-bottom: 2rem;
  /* Custom Color */
}

@media (min-width: 768px) {
  .info-boxes-container {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 768px) {
  .info-boxes-container {
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .info-boxes-container > .container,
  .info-boxes-container > .container-fluid {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
  }
}

@media (max-width: 767px) {
  .info-boxes-container > .container,
  .info-boxes-container > .container-fluid {
    padding: 0;
  }
}

.info-boxes-container > .container-fluid {
  width: 100%;
}

.info-boxes-container .info-box {
  display: block;
  font-size: 0;
  padding: 1.25rem 1rem 1.2rem;
  position: relative;
}

.info-boxes-container .info-box:nth-child(2n) {
  background-color: #ccd3d5;
}

.info-boxes-container .info-box:last-child {
  border-bottom: none;
}

.info-boxes-container .info-box .info-box-wrapper {
  position: relative;
  display: inline-block;
  padding-left: 2.9rem;
}

@media (min-width: 768px) {
  .info-boxes-container .info-box {
    display: table-cell;
    width: 33%;
    border-bottom: none;
  }
  .info-boxes-container .info-box:last-child {
    border-right: none;
  }
}

@media (max-width: 767px) {
  .info-boxes-container .info-box.text-center {
    text-align: left !important;
  }
}

.info-boxes-container .info-box.text-center .info-box-content {
  text-align: left;
}

.info-boxes-container .info-box-icon {
  display: inline-block;
  font-size: 1.9rem;
  position: absolute;
  left: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  vertical-align: middle;
  color: #3a3a3a;
}

.info-boxes-container .info-box-content {
  display: inline-block;
  font-size: 0.85rem;
  color: #7e7e7e;
  line-height: 1.2;
  vertical-align: middle;
}

.info-boxes-container .info-box-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
  line-height: 1;
  color: #212121;
  letter-spacing: 0.025em;
}

.info-boxes-container p {
  margin-bottom: 0;
}

.info-boxes-container.custom {
  background-color: #673AB7;
  border-color: #794ec7;
}

.info-boxes-container.custom .info-box {
  border-color: #794ec7;
}

@media (min-width: 768px) {
  .info-boxes-container.custom .info-box {
    border-color: #794ec7;
  }
}

.info-boxes-container.custom .info-box:nth-child(2n) {
  background-color: #5e35a8;
}

.info-boxes-container.custom .info-box-icon {
  color: #f0f0f0;
}

.info-boxes-container.custom .info-box-content {
  color: #ab90dc;
}

.info-boxes-container.custom .info-box-title {
  color: #f0f0f0;
}

@media (min-width: 768px) {
  .nav.nav-tabs.nav-tabs-flex,
  .nav.nav-pills.nav-pills-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.nav.nav-tabs.nav-tabs-flex > li > a,
.nav.nav-pills.nav-pills-flex > li > a {
  font-weight: 700;
}

.tab-content .product .product-top {
  border: 1px solid red;
}

.banner {
  position: relative;
}

.banner a {
  display: block;
}

.banner img {
  display: block;
  width: 100%;
  height: auto;
}

/* Index Shop 2*/
.nav.nav-pills.style2 > li > a {
  font-weight: 700;
  font-size: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: #dadfe0;
}

.nav.nav-pills.style2 > li:nth-child(2n) > a {
  background-color: #ccd3d5;
}

.nav.nav-pills.style2 > li.active > a {
  background-color: #00b16a;
}

.nav.nav-pills.style2 > li:hover > a, .nav.nav-pills.style2 > li:focus > a {
  background-color: #E91E63;
}

.nav.nav-pills.style2.nav-justified > li:last-child {
  border-bottom: none;
}

@media (min-width: 768px) {
  .nav.nav-pills.style2.nav-justified > li {
    border-bottom: none;
    border-right: none;
  }
  .nav.nav-pills.style2.nav-justified > li:last-child {
    border-right: none;
  }
}

/* Homepages - Index-shop3 */
.collection-section {
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.collection-section h2, .collection-section h3, .collection-section h4 {
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.collection-section h2 {
  font-size: 2.75rem;
  margin-bottom: 0.3em;
}

.collection-section h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.6em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.collection-section p {
  display: none;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.75rem;
}

@media (min-width: 768px) {
  .collection-section p {
    display: block;
    max-width: 680px;
  }
}

@media (min-width: 992px) {
  .collection-section p {
    max-width: 780px;
  }
}

.collection-section .btn {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.collection-section .btn:hover, .collection-section .btn:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.collection-section.text-center p {
  margin-left: auto;
  margin-right: auto;
}

/* Homepages - Index Portfolio */
.portfolio-header {
  padding: 3.25rem 0 3rem;
}

@media (min-width: 768px) {
  .portfolio-header {
    padding-top: 4rem;
    padding-bottom: 3.75rem;
  }
}

@media (min-width: 992px) {
  .portfolio-header {
    padding-top: 4.75rem;
    padding-bottom: 4.5rem;
  }
}

.portfolio-header .portfolio-header-title {
  font-weight: 400;
  line-height: 1.3;
  font-size: 2.25rem;
}

@media (min-width: 768px) {
  .portfolio-header .portfolio-header-title {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .portfolio-header .portfolio-header-title {
    font-size: 2.8rem;
  }
  .portfolio-header .portfolio-header-title.max-width {
    max-width: 60%;
  }
  .portfolio-header .portfolio-header-title.max-width.text-center {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .portfolio-header .portfolio-header-title {
    font-size: 3rem;
  }
}

.portfolio-header .portfolio-header-title:last-child {
  margin-bottom: 0;
}

.portfolio-header .lead {
  line-height: 1.6;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .portfolio-header .lead.max-width, .portfolio-header .lead.max-width-sm {
    max-width: none;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
}

/* Homepages - Index Photography */
.fotorama__thumb-border {
  border-color: #673AB7;
}

/* Fotorama Navigation Arrows */
.fotorama__arr {
  font-family: 'FontAwesome';
  background-image: none;
  font-size: 1.25rem;
  color: #fff;
  background-color: rgba(103, 58, 183, 0.5);
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-top: -1.25rem;
  transition: all 0.4s;
}

@media (min-width: 768px) {
  .fotorama__arr {
    font-size: 22px;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    margin-top: -1.5rem;
  }
}

@media (min-width: 992px) {
  .fotorama__arr {
    font-size: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin-top: -1.75rem;
  }
}

.fotorama__arr:hover, .fotorama__arr:focus {
  background-color: rgba(233, 30, 99, 0.7);
}

.fotorama__arr--prev {
  left: 0;
}

.fotorama__arr--prev:before {
  content: "\f104";
}

.fotorama__arr--next {
  right: 0;
}

.fotorama__arr--next:before {
  content: "\f105";
}

/* Thumbnail over */
.fotorama-nav-over .fotorama__nav-wrap {
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 99;
}

/* Circle Thumbnails */
.fotorama-circle-thumbs .fotorama__thumb,
.fotorama-circle-thumbs .fotorama__thumb img,
.fotorama-circle-thumbs .fotorama__thumb-border,
.fotorama-circle-thumbs .fotorama__thumb-border img {
  border-radius: 50%;
}

/* Caption */
.fotorama__caption {
  left: 40px;
  right: 40px;
  font: 700 2rem/1 "Raleway", sans-serif;
  bottom: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.65);
}

@media (min-width: 768px) {
  .fotorama__caption {
    font-size: 2.25rem;
    left: 50px;
    right: 50px;
  }
}

@media (min-width: 992px) {
  .fotorama__caption {
    font-size: 3rem;
    left: 60px;
    right: 60px;
  }
}

.fotorama__caption .fotorama__caption__wrap {
  background-color: transparent;
  color: #fff;
}

/* Homepages - Index Blog */
.featured-entry-carousel.swiper-container {
  margin-bottom: 3rem;
}

@media (min-width: 992px) {
  .featured-entry-carousel.swiper-container {
    margin-bottom: 4rem;
  }
}

.featured-entry {
  position: relative;
  overflow: hidden;
}

.featured-entry figure a {
  display: block;
}

.featured-entry figure a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #111111;
  transition: all 0.65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.featured-entry figure img {
  display: block;
  height: auto;
  width: 100%;
}

.featured-entry .fentry-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 0 1.1rem;
  transition: all 0.65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 20;
}

@media (min-width: 992px) {
  .featured-entry .fentry-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.featured-entry a {
  color: #fff;
}

.featured-entry a:hover, .featured-entry a:focus {
  color: #E91E63;
}

.featured-entry h2 {
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 1.35;
  color: #fff;
  letter-spacing: 0.01em;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
  max-width: 280px;
  margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
  .featured-entry h2 {
    font-size: 1.5rem;
    max-width: 340px;
  }
}

.featured-entry .fentry-meta {
  font-size: 0;
  color: #eee;
}

.featured-entry .fentry-meta > span {
  display: inline-block;
  font-size: 1rem;
  margin-right: 0.75rem;
}

.featured-entry .fentry-meta > span i {
  margin-right: 0.25rem;
}

.featured-entry.bg-custom figure a:after, .featured-entry.bg-custom2 figure a:after, .featured-entry.bg-dark figure a:after {
  display: none;
}

.featured-entry:not(.bg-custom) figure a:after, .featured-entry:not(.bg-custom2) figure a:after, .featured-entry:not(.bg-dark) figure a:after {
  opacity: 0.35;
  visibility: visible;
}

.featured-entry.bg-custom2 a:hover, .featured-entry.bg-custom2 a:focus {
  color: #673AB7;
}

.featured-entry:hover figure a:after {
  opacity: 0.7;
  visibility: visible;
}

/* Homepages - Index Blog 2 */
.featured-entry-slider.swiper-container {
  margin-bottom: 3rem;
}

@media (min-width: 992px) {
  .featured-entry-slider.swiper-container {
    margin-bottom: 4rem;
  }
}

.fentry-slide img {
  display: block;
  height: auto;
  width: 100%;
}

.fentry-slide .fentry-slide-content {
  position: absolute;
  top: 50%;
  left: 5rem;
  right: 5rem;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.4s;
  z-index: 20;
  color: #fff;
  text-align: center;
}

.fentry-slide .fentry-slide-content h2 {
  color: #fff;
  font-size: 1rem;
  max-width: 250px;
  line-height: 1.35;
  margin: 0 auto 0.5rem;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  max-width: 420px;
}

@media (min-width: 481px) {
  .fentry-slide .fentry-slide-content h2 {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .fentry-slide .fentry-slide-content h2 {
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  .fentry-slide .fentry-slide-content h2 {
    font-size: 2.1rem;
    margin-bottom: 0.75rem;
    max-width: 520px;
  }
}

.fentry-slide .fentry-slide-content h2 a {
  color: #fff;
}

.fentry-slide .fentry-slide-content h2 a:hover, .fentry-slide .fentry-slide-content h2 a:focus {
  color: #673AB7;
}

.fentry-slide .fentry-slide-content .fentry-tags {
  display: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .fentry-slide .fentry-slide-content .fentry-tags {
    display: block;
  }
}

.fentry-slide .fentry-slide-content .fentry-tags a {
  color: #fff;
}

.fentry-slide .fentry-slide-content .fentry-tags a:hover, .fentry-slide .fentry-slide-content .fentry-tags a:focus {
  color: #673AB7;
}

/* Homepages - Index Onepage */
.section {
  padding: 4rem 0;
}

@media (min-width: 768px) {
  .section {
    padding: 5rem 0;
  }
}

@media (min-width: 992px) {
  .section {
    padding: 6rem 0;
  }
}

.section#home {
  padding: 0;
}

.section#about {
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .section#about {
    padding-bottom: 3rem;
  }
}

@media (min-width: 992px) {
  .section#about {
    padding-bottom: 4rem;
  }
}

.section#contact {
  padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .section#contact {
    padding-bottom: 3.5rem;
  }
}

@media (min-width: 992px) {
  .section#contact {
    padding-bottom: 4.5rem;
  }
}

.section .pagination-container.min-width {
  margin-bottom: 0 !important;
}

.section #map {
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .section #map {
    margin-bottom: 3.5rem;
  }
}

.section-title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

@media (min-width: 481px) {
  .section-title {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .section-title {
    font-size: 5rem;
  }
}

@media (min-width: 992px) {
  .section-title {
    font-size: 6rem;
    margin-bottom: 3.5rem;
  }
}

.section.section-with-header {
  padding-top: 0;
}

.section.section-with-header .section-header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 3rem;
  background-color: #d7dcde;
}

@media (min-width: 768px) {
  .section.section-with-header .section-header {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 992px) {
  .section.section-with-header .section-header {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 4rem;
  }
}

.section.section-with-header .section-header .section-title {
  margin-bottom: 0;
}

.section.section-with-header .section-header.bg-image .section-title, .section.section-with-header .section-header.parallax .section-title {
  color: #fff;
}
