/* ----------- 15.Contact Pages --------
--------------------------------------*/
#map {
  height: 380px;
  background-color: #d7d4d4;
  position: relative;
}

@media (min-width: 768px) {
  #map {
    height: 480px;
  }
}

#map address {
  font-size: 0.9rem;
  margin: 0;
  padding: 1rem 0.7rem 0.7rem;
  line-height: 1.5;
}

.location-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0 1.25rem 1rem;
  width: 2.2rem;
  height: 4rem;
  border-radius: 0.5em/.25em;
  color: #00b16a;
  background: #00b16a;
  transition: all 0.65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
}

.text-center .location-icon, .location-icon.text-center {
  margin-left: auto;
  margin-right: auto;
}

.location-icon i {
  position: relative;
  z-index: 2;
  font-size: 1.4rem;
}

.location-icon:before, .location-icon:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
  top: 0;
}

.location-icon:before {
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  left: 0;
}

.location-icon:after {
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
  right: 0;
}

.location-icon.custom {
  background-color: #00b16a;
  color: #fff;
}

.location-icon.custom2 {
  background-color: #E91E63;
  color: #fff;
}

.location-icon.dark {
  background-color: #181818;
  color: #fff;
}

.location-info {
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

.location-info address {
  line-height: 1.5;
}

.location-info address {
  margin-bottom: 0.4rem;
}

.location-info p {
  margin-bottom: 0.35rem;
}

.location-info .social-icons {
  margin-top: 0.75rem;
}

.location-info.location-info-box {
  padding: 1.6rem 1rem 0.7rem;
  background-color: #fff;
}

@media (min-width: 768px) {
  .location-info.location-info-box {
    padding: 2rem 1.25rem 0.8rem;
  }
}

@media (min-width: 992px) {
  .location-info.location-info-box {
    padding: 2.25rem 1.5rem 1rem;
  }
}

.location-info.location-info-box .social-icons .social-icon {
  background-color: #d7d4d4;
}

.location-info.location-info-box .social-icons .social-icon:hover, .location-info.location-info-box .social-icons .social-icon:focus {
  background-color: #673AB7;
}
