.logo{
    font-family: 'Megrim', cursive;
}

.logo:hover{
  text-decoration: none;
}

.img-responsive{
  max-width: 100%;
    height: auto;
}

.round-img{
  border-radius: 50%;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px; }
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

#spaceoff{
    text-align: left;
}
.newsletter_submit{
    position: absolute;
    margin-top:-50px;
    margin-left: 39%;
    width:108.4px;
    background-color:#28EB9D;
    color:#4a4a4a;
    border:3px solid #28EB9D;
}
.newsletter_email{
    background:#4a4a4a;
    color:#28EB9D;
    border:1px solid #28EB9D;
}

input:placeholder-shown {
  color:#28EB9D;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #28EB9D;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #28EB9D;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #28EB9D;
}
:-moz-placeholder { /* Firefox 18- */
  color: #28EB9D;
}

::-moz-selection { /* Code for Firefox */
    color: #4a4a4a;
    background: #28EB9D;
}

::selection {
    color: #4a4a4a;
    background: #28EB9D;
}

/* Custom CSS */
  @media (max-width: 766px) {
    .index-transition-tablet-up{
      display: none;
      text-align: center;
    }
  }

  @media (min-width: 766px) {
    .index-transition-mobile{
      display: none;
      
    }
    
  }