/* ----------- 11.Category(Shop) - Product
--------------------------------------*/
/* Products (Shop) */
.product {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
  padding-bottom: 0;
  text-align: center;
  /* Product List */
  /*Product-small */
}

.table .product {
  text-align: left;
}

@media (min-width: 768px) {
  .product {
    margin-bottom: 2.25rem;
  }
}

.swiper-container .product {
  margin-bottom: 0;
}

.product .product-top {
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
}

.product .product-top figure a {
  display: block;
}

.product .product-top img {
  display: block;
  width: 100%;
  height: auto;
}

.product .image-hover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
}

.product:hover .image-hover {
  visibility: visible;
  opacity: 1;
}

.product .product-title {
  color: #212121;
  font-size: 1.1rem;
  line-height: 1.3;
  margin-bottom: 0.4rem;
}

.product .product-title a {
  color: #212121;
}

.product .product-title a:hover, .product .product-title a:focus {
  color: #673AB7;
}

.product .product-price-container {
  font-size: 1.1rem;
  line-height: 1;
  color: #e53935;
  font-weight: 700;
}

.product .product-price-container .old-price {
  color: #7e7e7e;
  font-size: 85%;
  text-decoration: line-through;
  font-weight: 500;
}

.product .product-price-container span {
  vertical-align: baseline;
}

.product .product-price-container .product-price {
  font-weight: 600;
}

.product .product-action-container {
  display: table;
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% + 1px);
  z-index: 10;
  transition: all 0.65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
  visibility: hidden;
  opacity: 1;
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
}

.product .product-action-container .tooltip-inner {
  white-space: pre;
  max-width: none;
  font-size: 0.9rem;
  padding: 0.45rem 0.75rem;
  border-radius: 0;
  background-color: #788a90;
}

.product .product-action-container .tooltip.top .tooltip-arrow {
  margin-left: -8px;
  border-width: 8px 8px 0;
  border-top-color: #788a90;
}

.product .product-action-container .product-add-btn + .tooltip {
  left: 0 !important;
}

.product .product-action-container .product-add-btn + .tooltip.top .tooltip-arrow {
  left: 0 !important;
}

.product .product-action-container .product-compare-btn + .tooltip {
  left: auto !important;
  right: 0 !important;
}

.product .product-action-container .product-compare-btn + .tooltip.top .tooltip-arrow {
  left: auto !important;
  right: 0 !important;
  margin-left: 0 !important;
  margin-right: -8px !important;
}

.product .product-action-container .btn {
  display: table-cell;
  border: none;
  color: #bec7c9;
  background-color: #fff;
  opacity: 1;
  padding: 0.6em 0.25em;
  font-size: 1rem;
  border-radius: 0 !important;
}

.product .product-action-container .btn i {
  font-size: inherit;
  margin: 0;
}

.product .product-action-container .btn:hover, .product .product-action-container .btn:focus {
  color: #fff;
  background-color: #673AB7;
  border-color: #673AB7;
}

.product:hover .product-action-container, .product.focus .product-action-container {
  visibility: visible;
  opacity: 1;
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.product .label {
  position: absolute;
  top: 0.75rem;
  z-index: 20;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.6rem 0.95rem;
  border-radius: 0;
  opacity: 0.8;
  letter-spacing: 0.05em;
  border-radius: 4px;
}

.product .label.new {
  left: 0.75rem;
  color: #fff;
  background-color: #673AB7;
}

.product .label.discount {
  right: 0.75rem;
  color: #fff;
  background-color: #d50000;
}

.product.product-list {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .product.product-list {
    margin-bottom: 2rem;
  }
  .product.product-list > .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  .product.product-list .product-title {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }
  .product.product-list .product-top {
    margin-bottom: 0;
  }
  .product.product-list .product-meta-container {
    margin-bottom: 1.2rem;
  }
  .product.product-list .product-meta-container .ratings-container {
    float: right;
    margin-bottom: 0;
  }
  .product.product-list .product-meta-container .product-price-container {
    float: left;
    margin-bottom: 0;
  }
  .product.product-list .product-meta-container:after {
    content: '';
    display: table;
    clear: both;
  }
}

.product.product-list .row {
  margin-left: -10px;
  margin-right: -10px;
}

.product.product-list .row > [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

.product.product-list .product-content {
  text-align: left;
}

.product.product-list .product-content p {
  display: none;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .product.product-list .product-content p {
    display: block;
  }
}

.product.product-list .product-content p:last-child {
  margin-bottom: 0;
}

.product.product-sm {
  margin-bottom: 1rem;
  padding-bottom: 0;
}

.product.product-sm:after {
  content: '';
  display: table;
  clear: both;
}

.product.product-sm .product-top {
  width: 90px;
  float: left;
  border: 1px solid #d7d4d4;
  margin-bottom: 0;
}

.product.product-sm .product-title,
.product.product-sm .product-price-container {
  padding-left: 105px;
}

.product.product-sm .product-title {
  max-width: 240px;
}

.ratings-container {
  margin-bottom: 0.4rem;
  line-height: 1;
}

.ratings-container .product-ratings {
  height: 1rem;
}

.ratings-container .product-ratings:before {
  content: "\f005  " "\f005  " "\f005  " "\f005  " "\f005";
  color: #bbc4c7;
}

.ratings-container .product-ratings,
.ratings-container .ratings {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  position: relative;
  font-family: FontAwesome;
}

.ratings-container .ratings {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.ratings-container .ratings:before {
  content: "\f005  " "\f005  " "\f005  " "\f005  " "\f005";
  color: #FBC02D;
}

.products-container {
  margin-bottom: 1.6rem;
}

.products-container > .row {
  margin-left: -10px;
  margin-right: -10px;
}

.products-container > .row > .product {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.products-container > .row > .product .product-price-container {
  left: 10px;
}

@media (min-width: 768px) {
  .max-col-5 .product,
  .max-col-4 .product,
  .max-col-3 .product,
  .max-col-2 .product {
    width: 50%;
  }
  .max-col-5 .product.wide,
  .max-col-4 .product.wide,
  .max-col-3 .product.wide,
  .max-col-2 .product.wide {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .max-col-4 .product,
  .max-col-3 .product {
    width: 33.3%;
  }
  .max-col-4 .product.wide,
  .max-col-3 .product.wide {
    width: 66.6%;
  }
}

@media (min-width: 992px) {
  .max-col-6 .product,
  .max-col-5 .product {
    width: 25%;
  }
  .max-col-6 .product.wide,
  .max-col-5 .product.wide {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .max-col-4 .product {
    width: 25%;
  }
  .max-col-4 .product.wide {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .max-col-5 .product {
    width: 20%;
  }
  .max-col-5 .product.wide {
    width: 40%;
  }
}

/* Product Single - product.html */
.product-gallery-container {
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .product-gallery-container {
    margin-bottom: 4rem;
  }
}

.product-zoom-wrapper {
  padding: 0.75rem;
  background-color: #d2d8da;
  border-radius: 4px;
}

.product-gallery-container img {
  display: block;
  width: 100%;
  height: auto;
}

.product-gallery-wrapper {
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: #d2d8da;
  border-radius: 4px;
}

.product-gallery a {
  display: block;
  padding: 0.25rem;
  transition: all 0.65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
}

.product-gallery a:hover, .product-gallery a:focus {
  background-color: #673AB7;
}

.product-details {
  margin-bottom: 2.75rem;
}

@media (min-width: 992px) {
  .product-details {
    margin-bottom: 0;
  }
}

.product-details .product-title {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 0.3rem;
}

.product-details .review-container {
  background-color: #d2d8da;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}

.product-details .review-container .ratings-container {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.product-details .review-count {
  margin-left: 1.25rem;
}

.product-details .review-action:before {
  content: '|';
  padding: 0 0.5rem;
}

.product-details .product-price-container {
  font-size: 2rem;
  font-weight: 700;
  color: #e53935;
  margin-bottom: 0.9rem;
}

.product-details .product-price-container .old-price {
  color: #7e7e7e;
  font-size: 70%;
  text-decoration: line-through;
  font-weight: 500;
}

.product-details .product-price-container span {
  vertical-align: baseline;
}

.product-details .product-desc-box {
  position: relative;
  background-color: #d2d8da;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  margin-bottom: 1.25rem;
}

.product-details .product-desc-box li {
  padding: 0.1rem 0;
}

.product-details .product-single-content {
  margin: 1.4rem 0 1.2rem;
}

.product-details .product-single-content p {
  margin-bottom: 1rem;
}

.product-details .product-single-content p:last-child {
  margin-bottom: 0;
}

.product-details .product-action {
  font-size: 0;
  margin: 1.25rem 0 1.9rem;
  padding: 0;
}

.product-details .product-action .product-quantity {
  display: inline-block;
  max-width: 150px;
  vertical-align: middle;
}

.product-details .product-action .product-quantity .form-control {
  margin-bottom: 0;
}

.product-details .product-action .product-quantity + .btn {
  margin-left: 1rem;
}

.product-details .product-action .product-quantity + .btn + .btn {
  margin-left: 1rem;
}

.product-details .product-action .product-quantity .btn {
  vertical-align: middle;
}

.product-details .panel p {
  text-indent: 1rem;
}

.product-details .panel p:last-child {
  margin-bottom: 0;
}

.product-details .panel .fa-ul {
  margin-bottom: 0;
}

.product-details .panel .fa-ul li {
  margin-bottom: 0.5rem;
}

.product-details .panel .fa-ul li:last-child {
  margin-bottom: 0;
}

.product-details-tab .tab-pane p {
  text-indent: 1rem;
}

.product-details-tab .tab-pane p:last-child {
  margin-bottom: 0.25rem;
}

.product-details-tab .tab-pane .fa-ul {
  margin-bottom: 0;
}

.product-details-tab .tab-pane .fa-ul li {
  margin-bottom: 0.5rem;
}

.product-details-tab .tab-pane .fa-ul li:last-child {
  margin-bottom: 0;
}

.product-details-tab .tab-pane .comments .comment {
  background-color: #e8ebec;
  border-radius: 4px;
}

.product-details-tab .tab-pane .comments .comment p {
  text-indent: 0;
}

.product-details-tab .tab-pane .comments .comment .ratings-container {
  margin-bottom: 0.35rem;
}

/* Category(Shop) Pages */
@media (min-width: 992px) {
  .flex-shop {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .flex-shop .col-md-9 {
    width: 70%;
  }
  .flex-shop .col-md-9 + .col-md-3 {
    width: 30%;
  }
  .flex-shop .col-md-push-3 {
    left: 30%;
  }
  .flex-shop .col-md-push-3 + .col-md-pull-9 {
    right: 70%;
  }
  .flex-shop .col-md-push-3.col-md-6 {
    left: 25%;
  }
  .flex-shop .sidebar {
    position: relative;
  }
  .flex-shop .sidebar:after {
    content: '';
    position: absolute;
    display: block;
    background-color: #d4dadc;
    left: 0;
    top: -4rem;
    bottom: 0;
    z-index: 0;
    width: 3000px;
  }
  .flex-shop .sidebar.col-md-pull-9:after, .flex-shop .sidebar.col-md-pull-6:after {
    left: auto;
    right: 0;
  }
  .flex-shop .sidebar .widget {
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .flex-shop.row {
    margin-left: -30px;
    margin-right: -30px;
  }
  .flex-shop.row > [class*="col-"] {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.category-filter-row {
  margin-bottom: 2rem;
  padding: 0.95rem 1.1rem;
  background-color: #fff;
  border-radius: 8px;
}

.category-filter-row .left {
  white-space: nowrap;
}

.category-filter-row .left .filter-container {
  float: left;
}

.category-filter-row .left .filter-container.filter-show {
  float: right;
}

@media (min-width: 768px) {
  .category-filter-row .left {
    float: left;
    margin-bottom: 0;
  }
  .category-filter-row .left .filter-container {
    float: left;
  }
  .category-filter-row .left .filter-container.filter-show {
    float: left;
  }
  .category-filter-row .left .filter-sort {
    margin-right: 25px;
  }
}

.category-filter-row .left:after {
  content: '';
  display: table;
  clear: both;
}

.category-filter-row .right {
  margin-bottom: 10px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .category-filter-row .right {
    float: right;
    margin-bottom: 0;
  }
}

.category-filter-row .right:after {
  content: '';
  display: table;
  clear: both;
}

.category-filter-row label,
.category-filter-row .form-control {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  width: auto;
}

.category-filter-row label,
.category-filter-row .cat-product-count {
  margin-right: 0.5rem;
  font-size: 0.95rem;
  font-weight: 700;
}

.category-filter-row .form-control {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #e8ebec;
  border-color: #e8ebec;
}

.category-filter-row:after {
  content: '';
  display: table;
  clear: both;
}

.category-filter-row .cat-product-count,
.category-filter-row .btn,
.category-filter-row .filter-product-view {
  display: inline-block;
  vertical-align: middle;
}

.category-filter-row .btn + .btn {
  margin-left: 0.5rem;
}

.category-filter-row .cat-product-count {
  line-height: 2rem;
  margin-right: 1.5rem;
}

@media (max-width: 767px) {
  .category-filter-row .cat-product-count {
    float: left;
  }
}

.category-filter-row .filter-product-view {
  font-size: 0;
}

.category-filter-row .filter-product-view .btn {
  text-align: center;
  font-size: 1.4rem;
  padding: 0.25em 0.55em;
}

.category-filter-row .filter-product-view .btn i {
  margin: 0;
}

@media (max-width: 767px) {
  .category-filter-row .filter-product-view {
    float: right;
  }
}

/* Sidebar */
@media (max-width: 991px) {
  .sidebar.shop-sidebar {
    margin-bottom: 3rem;
  }
}

.sidebar.shop-sidebar .widget {
  margin-bottom: 4rem;
}

.sidebar.shop-sidebar .widget .widget-title {
  margin-bottom: 1.25rem;
}

.sidebar.shop-sidebar .widget .panel .panel-title {
  font-weight: 600;
}

.sidebar.shop-sidebar .widget .panel .panel-body {
  margin: 0;
  background-color: transparent;
}

.sidebar.shop-sidebar .widget .btn {
  color: #fff;
}

.category-widget-btn {
  display: block;
  width: 20px;
  height: 20px;
  font-family: 'FontAwesome';
  font-size: 10px;
  line-height: 21px;
  text-align: center;
  color: #673AB7;
  background-color: #eaeaea;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 8px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.category-widget-btn:after {
  content: "\f105";
}

.category-widget-btn:hover, .category-widget-btn:focus {
  background-color: #333;
  color: #fff;
}

.open .category-widget-btn:after {
  content: "\f107";
}

.filter-price .form-control {
  margin-bottom: 1.25rem;
}

.filter-price-label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.filter-color-container,
.filter-size-container {
  font-size: 0;
}

.filter-color-container .row,
.filter-size-container .row {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.filter-color-box,
.filter-size-box {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 0.25rem 0.5rem;
  transition: all 0.65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.filter-color-box:hover, .filter-color-box:focus,
.filter-size-box:hover,
.filter-size-box:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.filter-size-box {
  color: #323232 !important;
  background-color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 2.2rem;
  text-align: center;
  text-transform: uppercase;
}

.filter-size-box.active, .filter-size-box:hover, .filter-size-box:focus {
  color: #fff !important;
  background-color: #673AB7;
}

.sidebar .filter-group-widget .panel-body {
  padding: 35px 0 30px;
}

.filter-brand-list {
  margin-top: -10px;
}

.filter-brand-list a {
  color: #323232;
  display: block;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding: 0.15rem 0;
  font-weight: 500;
}

.filter-brand-list a:hover, .filter-brand-list a:focus {
  color: #673AB7;
}

.filter-brand-list a i {
  margin-right: 0.6rem;
}

.filter-brand-list a span {
  float: right;
}

#filter-range-details.row {
  margin-left: -5px;
  margin-right: -5px;
}

#filter-range-details.row [class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

#price-slider {
  margin: 0 0 2.75rem;
}

/* noUiSlider Styles */
/* Functional styling;
* These styles are required for noUiSlider to function.
* You don't need to change these rules to apply your design.
*/
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  height: 6px;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
  transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 6px;
}

.noUi-horizontal .noUi-handle {
  width: 1.5rem;
  height: 1.5rem;
  left: -0.5rem;
  top: -0.6rem;
}

/* Styling;
 */
.noUi-background {
  background: #fff;
}

.noUi-connect {
  background: #673AB7;
}

.noUi-origin {
  border-radius: 0;
}

.noUi-target {
  border-radius: 0;
  background: #fff;
}

/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;
}

.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}

.noUi-handle {
  border-radius: 50px;
  background: #fff;
  cursor: default;
  transition: all 0.5s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.noUi-handle:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
}

.noUi-handle > div {
  position: absolute;
  top: 100%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 1px;
  font-size: 0.85rem;
  font-weight: 600;
  color: #5a5a5a;
}
